.container{
    display: flex;
    flex: 1;
    background-color: #e9edf0;
    margin: 0!important;
    /*height: calc(100vh - 3rem);*/
    height: 100vh;
    padding: 0;
    align-items: flex-start;
    justify-content: center;
}